<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Helper | Home</title>
    <link rel="stylesheet" href="home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.js"></script>
  </head>
  <body class="a">
    <script>
      $(".a").ripples({
        resolution: 200,
        perturbance: 0.01,
      });
    </script>
      <nav class="nav">
        <ul class="menu">
          <li><a href="">Home</a></li>
          <li class="a"><a href="covid.html">Covid-Help-InFo</a></li>
          <li><a href="about.html">About Us</a></li>
        </ul>
      </nav>
      <div class="home">
        <h1>COVID HELPER</h1>
      </div>
      <div class="img">

      </div>
  </body>
</html>
